.footer {
  @include padding(24px, 0);
}

.footer-link {
  display: none;

  @include lg {
    display: flex;
    @include margin(0, 0, 36px, 0);
  }

  li {
    @include lg {
      @include margin(0, 48px, 0, 0);
    }
  }
}

.contact {
  li {
    @include margin(0, 0, 8px, 0);

    &:last-child {
      @include padding(0, 0, 24px, 0);
    }

    @include lg {
      @include font(36px, 54px);
    }
  }

  .material-symbols-outlined {
    @include margin(0, 10px, 0, 0);

    @include lg {
      @include padding(0, 20px, 0, 0);
      @include font(36px, 54px);
    }
  }
}

.social-group {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.contact-social {
  li {
    @include margin(0, 8px, 0, 0);

    &:last-child {
      @include lg {
        @include margin(0, 0, 0, 0);
      }
    }

    @include lg {
      @include margin(0, 32px, 24px, 0);
    }

    img {
      width: 24px;
      height: 24px;

      @include lg {
        width: 48px;
        height: 48px;
      }
    }
  }
}

.white-icon {
  filter: invert(1) brightness(2);
}

.copyRight {
  @include margin(16px, 0, 0, 0);

  @include lg {
    @include margin(32px, 0, 0, 0);
    display: flex;
    justify-content: space-between;
  }

  p {
    @include margin(0, 0, 8px, 0);
  }

  ul {
    @include lg {
      display: flex;
    }
  }

  li {
    @include margin(0, 0, 8px, 0);

    @include lg {
      @include margin(0, 48px, 0, 0);
    }

    &:last-child {
      @include margin(0, 0, 0, 0);
    }
  }
}