.header {
  .nav {
    display: flex;
    flex-direction: column;
    @include margin(0, -12px, 0 , -12px);

    @include lg {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @include margin(0);

      a {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  h1 {
    @include padding(0, 0, 0, 16px);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #fff;
    @include padding(12px, 0);
    @include font(16px, 24px);
    font-weight: normal;
    width: 50%;

    @include lg {
      @include font(20px, 30px);
      width: auto;
      border: none;
      @include margin(0, 64px, 0, 0);

      &:last-child {
        @include margin(0, 0, 0, 0);
      }
    }
  }
}

.logo {
  width: 80px;
}