.header {
  .nav {
    display: flex;
    flex-direction: column;
    margin: 0 -12px;
    @include lg{
      flex-direction: row;
      justify-content: space-between;
      align-items: center ;
      margin: 0;
    }
  }

  h1 {
    padding-left: 16px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    width: 50%;

    @include lg{
      font-size: 20px;
      line-height: 30px;
      width: auto;
      border:none;
      margin-right: 64px;
      &:last-child{
        margin-right: 0px;
      }
    }

  }
}

.logo {
  width: 80px;

}