@mixin text-hide {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin padding($top: 0, $right: 0, $bottom: null, $left: null) {
  $bottom: if($bottom ==null, $top, $bottom);
  $left: if($left ==null, $right, $left);
  padding: $top $right $bottom $left;
}

@mixin margin($top: 0, $right: 0, $bottom: null, $left: null) {
  $bottom: if($bottom ==null, $top, $bottom);
  $left: if($left ==null, $right, $left);
  margin: $top $right $bottom $left;
}


